/*
====================================================

* 	[Master Stylesheet]

	Theme Name :
	Version    :
	Author     :
	Author URI :

====================================================

	TOC

	1. PRIMARY STYLES
	2. COMMONS FOR PAGE DESIGN
	3. HEADER
	4. INTRO SECTION
	5. PORFOLIO SECTION
	6. ABOUT SECTION
	7. EXPERIENCE SECTION
	8. EDUCATION SECTION
	9. COUNTER SECTION
	10. FOOTER

====================================================


/* ---------------------------------
1. PRIMARY STYLES
--------------------------------- */
a, button { display: inline-block; text-decoration: none; color: inherit; line-height: 1.3; -webkit-transition: all .25s ease-in-out; transition: all .25s ease-in-out;}

.a-pre{color: #337ab7;}

li { list-style: none; display: inline-block; line-height: 1.6; font-size: .9em; }

@keyframes full-opacity-anim {
        0% {
                opacity: 0;
        }
        100% {
                opacity: 1;
        }
}

/* BORDER */

.brdr-b-primary{ border-bottom: 2px solid #EF0031;}

/*SELECTION*/

ul.selecton{ text-align: center;  font-size: 1.2em;  }

ul.selecton li > a{ padding: 15px 30px;   }

ul.selecton li:hover a,
ul.selecton li a.active{ border-radius: 3px 3px 0 0; background: #EF0031; color: #FFFFFF;  }

.food-menu{ display: none;  }
.food-menu.active{ opacity: 0; display: block!important; animation: full-opacity-anim .3s forwards ; }