* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*
    Sección de estilos para página de error
*/

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background: rgb(0, 0, 0);
}

.container-404 {
    text-align: center;
    width: 90%;
    max-width: 50%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 50px #494848;
    border-radius: 10px;
    color: #434343;
}
